name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # chạy mỗi ngày lúc 00:00 UTC
  workflow_dispatch:       # cho phép bấm Run workflow bằng tay

# ⚠️ Quan trọng: cho phép GITHUB_TOKEN được quyền ghi
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: ivanovmarcus0910
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
